@import "tailwindcss";

:root {
    --primary-blue-1: #01A6CF;
    --primary-blue-2: #00ccff;
    --primary-blue-3: #0c0b2e;
    --primary-blue-4: #1d1c4a;
    --primary-blue-5: #020046;
    --highlight-orange: #ffa200;
}


@layer utilities {
  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }

  .animate-scroll {
    animation: scroll var(--animation-duration, 40s)
      var(--animation-direction, forwards) linear infinite;
  }
}
